@model AppQuarta.Models.Pessoa
@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>
<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Codigo)</dt>
        <dt>@Html.DisplayFor(model => model.Codigo)</dt>

        <dt>@Html.DisplayNameFor(model => model.NomePessoa)</dt>
        <dt>@Html.DisplayFor(model => model.NomePessoa)</dt>

        <dt>@Html.DisplayNameFor(model => model.Obs)</dt>
        <dt>@Html.DisplayFor(model => model.Obs)</dt>

        <dt>@Html.DisplayNameFor(model => model.Login)</dt>
        <dt>@Html.DisplayFor(model => model.Login)</dt>

        <dt>@Html.DisplayNameFor(model => model.Senha)</dt>
        <dt>@Html.DisplayFor(model => model.Senha)</dt>
    </dl>
</div>

<p>
    @Html.ActionLink("Retornar", "Index")
</p>

